<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.servlet.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signoutServlet</servlet-name>
        <servlet-class>com.servlet.signoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewServletForValue</servlet-name>
        <servlet-class>com.servlet.addNewServletForValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.servlet.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddValCheckServlet</servlet-name>
        <servlet-class>com.servlet.AddValCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchStudentByYear</servlet-name>
        <servlet-class>com.servlet.FetchStudentByYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.servlet.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>com.servlet.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendenceServlet</servlet-name>
        <servlet-class>com.servlet.AttendenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewAdminServlet</servlet-name>
        <servlet-class>com.servlet.AddNewAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <servlet-class>com.servlet.DeleteAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.servlet.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signoutServlet</servlet-name>
        <url-pattern>/signoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewServletForValue</servlet-name>
        <url-pattern>/addNewServletForValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddValCheckServlet</servlet-name>
        <url-pattern>/AddValCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchStudentByYear</servlet-name>
        <url-pattern>/FetchStudentByYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendenceServlet</servlet-name>
        <url-pattern>/AttendenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewAdminServlet</servlet-name>
        <url-pattern>/AddNewAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <url-pattern>/DeleteAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
